/* ProductSlider.module.css */
.slide {
  padding: 0 4px; /* Decrease the horizontal padding to reduce space between slides */
}

.image {
  width: 100%;
  height: auto;
}

.details {
  cursor: pointer; /* Indicate that the slide is clickable */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
